<div class="container">
  <div class="row gap-1">
    <div class="form-group col">
      <select
        name="pageNumber"
        class="form-select"
        [(ngModel)]="pageNumber"
        [value]="pageNumber"
        id=""
      >
        <option *ngFor="let page of pageNumberOption" [value]="page">
          {{ page }}
        </option>
      </select>
    </div>
    <div class="form-groap col">
      <select
        name="row"
        class="form-select"
        (change)="onRowChange($event)"
        id=""
      >
        <option *ngFor="let row of rowOption" [value]="row">{{ row }}</option>
      </select>
    </div>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Salary</th>
        <th>Age</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="
          let employee of employeesData | pagination : pageNumber : totalRows
        "
      >
        <td>{{ employee.id }}</td>
        <td>{{ employee.employee_name }}</td>
        <td>{{ employee.employee_salary | formatcurrency }}</td>
        <td>{{ employee.employee_age }}</td>
      </tr>
    </tbody>
  </table>
</div>
